loki:
  auth_enabled: false

  commonConfig:
    replication_factor: 1

  schemaConfig:
    configs:
      - from: "2024-04-01"
        store: tsdb
        object_store: filesystem
        schema: v13
        index:
          prefix: loki_index_
          period: 24h

  storage_config:
    filesystem:
      directory: /var/loki/chunks

  storage:
    bucketNames:
      chunks: null
      ruler: null
      admin: null

  limits_config:
    allow_structured_metadata: true
    volume_enabled: true

  resources:
    requests:
      cpu: "100m"
      memory: "128Mi"
    limits:
      cpu: "250m"
      memory: "256Mi"

# Tắt các thành phần không dùng
ruler:
  enabled: false

analytics:
  enabled: false
minio:
  enabled: false

gateway:
  enabled: false

canary:
  enabled: false

resultsCache:
  enabled: false

chunksCache:
  enabled: false
# ✅ Dùng chế độ duy nhất: SingleBinary
deploymentMode: SingleBinary

singleBinary:
  replicas: 1

# ❌ Tắt toàn bộ các replica của chế độ khác
backend:
  replicas: 0
read:
  replicas: 0
write:
  replicas: 0
ingester:
  replicas: 0
querier:
  replicas: 0
queryFrontend:
  replicas: 0
queryScheduler:
  replicas: 0
distributor:
  replicas: 0
compactor:
  replicas: 0
indexGateway:
  replicas: 0
bloomCompactor:
  replicas: 0
bloomGateway:
  replicas: 0
